@model IEnumerable<AutoBill.Models.Make>

@{
    ViewData["Title"] = "Car Make List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Add a New Car Make</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MakeName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MakeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MakeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MakeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MakeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
